
<section class="deck">

        <div class="container py-3" *ngFor="let book of books">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 pic">
                  <img class="rounded-circle"  src="{{ book.image }}" class="w-100">
                </div>
                <div class="col-md-8 px-3 about">
                  <div class="card-block px-3">
                    <h4 class="card-title">{{ book.bookname }}</h4>
                    Author : {{ book.authorname }}

                    <a routerLink = "/singlebook/{{book._id}}" class="btn btn-info btn-sm"
                    >Read More</a>
                  </div>
                </div>
      
              </div>
            </div>
          </div>

</section>




